[phases.setup]
nixPkgs = ["python311", "nodejs-18_x", "pip"]

[phases.install]
cmds = [
  "python -m pip install --upgrade pip",
  "python -m pip install -r requirements.txt"
]

[start]
cmd = "uvicorn backend.main:app --host 0.0.0.0 --port $PORT"
